langchain
langchain_community
python-dotenv
langchain_core
streamlit
langchain_groq
arxiv
wikipedia
duckduckgo_search
validators
youtube_transcript_api
pypdf3
pypdf2
faiss-cpu
huggingface_hub
sentence_transformers
torchvision
matplotlib
seaborn
kagglehub[all]
imblearn
tiktoken
rich
tenacity
orjson
pydantic
html5lib

tavily-python>=0.3.0

# Web scraping
beautifulsoup4>=4.12.0
requests>=2.31.0
lxml>=5.0.0


# Async support (important for agents/tools)
aiohttp>=3.9.0


tree
